.global-navigation__link { 
    text-decoration: none;
    @include font-content;
    line-height: 1em;
}

.mobile-control {
    visibility: visible;
}

.header .global-navigation {
    position: absolute;
    width: 100%;
}

.header .global-navigation__link {
    display: block;
    text-transform: uppercase;
    padding: .4em .5em;
    background-color: $color-black;
    color: $color-white;
    transition: $transition--all-out;
    text-align: right;
    border-bottom: 1px solid $color-black;

    &:hover {
        background-color: $color-white;
        color: $color-black;
        transition: $transition--all-in;
    }
}

@media only screen and (min-width: 48em) { 

    .header .global-navigation{
        padding-top: 1em;
        display: inline-block;
        text-align: right;
    }

    .header .global-navigation__link {
        display: inline-block;
        color: $color-black;
        text-transform: uppercase;
        padding: .3em .5em;
        margin-right: 1em;
        background-color: none;
        color: $color-white;
        transition: $transition--all-out;
    
        &:hover {
            background-color: $color-white;
            color: $color-black;
            transition: $transition--all-in;
        }
    }

    .global-navigation__link mobile-control .mobile-control {
        display:none;
    }

    .header .global-navigation {
        visibility: visible;
    }
}
