
    .page-title {
        color: $color-black;
        text-align: left;
        margin-top: 2em;
    }

    .page-title__title {
        font-size:2em;
        @include font-header;
        text-transform: uppercase;
        margin: .5em 0 0 0;
    }

    .page-title__separator {
        height: 1.25em;
        background: url(../img/stripes-01-01.svg);
        margin-bottom: 2em;
    }
    .page-title__sub-title {
        @include font-content;
        font-style: italic;
        margin: .25em 0 1em 0;
        text-align: left;
    }

    .page-content__content-header {
        margin-top: 0;
    }

    .page-content__topic-header {
        margin-top: 0;
    }

@media only screen and (min-width: 48em) {

        .page-title {
            margin-top: 8em;
        }

        .page-title__title {
            font-size: 3em;
            text-transform: uppercase;
        }
    
        .page-title__sub-title {
            @include font-content;
        }

}