
    .page-title {
        color: $color-black;
        text-align: center;
        margin-bottom: 4em;
    }

    .page-title__title {
        font-size: 3em;
        @include font-header;
        padding-bottom: .15em;
        margin: 1.5em 0 .25em 0;
        text-transform: uppercase;
        border-bottom: .05em solid $color-black;
    }

    .page-title__sub-title {
        @include font-content;
    }

@media only screen and (min-width: 48em) {

        .page-title {
            margin-bottom: 4em;
        }

        .page-title__title {
            font-size: 4.5em;
            padding-bottom: .35em;
            margin: 2em 0 .25em 0;
            text-transform: uppercase;
            border-bottom: .15em solid $color-black;
        }
    
        .page-title__sub-title {
            @include font-content;
        }

}