$font-header:  'Oswald', sans-serif;
$font-content: 'Roboto', sans-serif;

h1,h2,h3,h4,h5,h6 {
    font-family: $font-header;
}

.page-content__paragraph {
    font-family: $font-content;
    font-weight: 200;
}

.content-title {
    
    font-weight: 400;
}